
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="en"> <!--<![endif]-->
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta name="description" content="Rent Ride Return" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">  
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css">

</head>


<body>

<nav class="navbar navbar-default" role="navigation" id="universalBar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <div id="universalBarHotText"><h1></h1>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse"  id="universalBarMenu">
            <ul class="">

                <li><a href="http://nycbeachbus.com"><img src="/img/logos/beachbus.png" alt="NYC Beach Bus">BEACH BUS</a></li>
                <li><a href="http://nycsnowbus.com"><img src="/img/logos/snowbus.png" alt="NYC Snow Bus">SNOW BUS</a></li>
                <li id="universalBarCurrent"><a href="#" style="padding-top:10px; line-height:110%;">RENT <br \><font color="red">  RIDE </font><br \> RETURN</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right" id="universalBarMenuRight">
                <li>
                    <a href="https://twitter.com/rentridereturn" title="Twitter" rel="nofollow" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com/therentridereturn" title="Instagram" rel="nofollow" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/rentridereturn" title="Facebook" rel="nofollow" target="_blank">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div>
</nav>


<header id="globalHeader">
  
        <a href="#" id="globalHeaderLogo"><img src="img/logo.png"/></a>
  
  <section id="globalHeaderMenuContainer" class="global-header-section">
    <nav id="globalHeaderNavContainer" >
      <ul id="globalHeaderNav">
              <li >
                  <a href="/" name="&lpos=top_nav>women">HOME</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beach<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/destinations">Far Rockaway</a></li>
                      <li><a href="/destinations">Jacob Riis/Fort Tilden</a></li>
                      <li><a href="/destinations">Jones Beach</a></li>
                      <li><a href="/destinations">Robert Moses/Fire Island</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Snow<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/destinations">Mountain Creek</a></li>
                      <li><a href="/destinations">Gore Mountain</a></li>
                      <li><a href="/destinations">Whiteface</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Adventures<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/destinations">Camping</a></li>
                      <li><a href="/destinations">Hiking</a></li>
                      <li><a href="/destinations">Storm King</a></li>
                  </ul>
              </li>
      </ul>
    </nav>
    
    <div id="globalHeaderSearchContainer">
      <a href="/destinations#how-it-works">How it Works <span class="caret"></span></a>
    </div>
    
  </section>
</header>


{{{body}}}
</body>
<footer id="ftr">

<nav id="ftrFootNavTop">

  
  
  <div class="ftr-foot-col" id="ftrCol1">
  <ul>
      <li>
CONTACT US
                    <ul itemscope itemtype="http://schema.org/Organization" class=inner-ul1>
                    <li itemprop="telephone">
                OFFICE: (917)-524-2421
          </li>
                    <li itemprop="telephone">
                MOBILE: (347)-796-1685
          </li>
        </ul>
      </li>
    </ul>
    </div>
    

  
  
  <div class="ftr-foot-col" id="ftrCol2">
    <ul>
      <li>
ABOUT RENTRIDERETURN
                    <ul class=inner-ul2>
                    <li>
                  <a href="#">OUR STORY</a>     
          </li>
                    <li>
                    <a href="#">CAREERS</a>
          </li>
        </ul>
      </li>
    </ul>
    </div>
    
  <div class="ftr-foot-col" id="ftrCol3">
  <ul>
      <li>
OUR STORES
                    <ul class=inner-ul1>
                    <li>
                    <a href="#">STORE LOCATOR</a>     
          </li>
        </ul>
      </li>
      <li>
      </li>
      <li>
DROPOFF LOCATIONS
                    <ul class=inner-ul3>
                    <li>
                  <a href="#">Where's the RRR Truck?</a>     
          </li>
        </ul>
      </li>
    </ul>
    </div>
    
  <div class="ftr-foot-col" id="ftrCol5">
  <ul>

      <li>
LIKE BEING FIRST?

                    <ul class=inner-ul1>
                
                    <li>
                            <span class="ftr-signup-txt">Subscribe to our mailing list<br>to get the inside scoop on deals, new gear, and more</span>

                        
          </li>

        </ul>

      </li>

    </ul>
    </div>
    

</nav>

<div id="ajaxLoadMessage_1" class="block" style="position:absolute;"></div>


<nav id="ftrFootNavBottom">
<ul>

<!--     <li class="ftr-first-li">
    <a href="#"/></a>
    </li>

    <li class="ftr-mid-li">
    <a href="#" target="">CONTACT US</a>
    </li>
    <li class="ftr-divider">|</li>

    <li class="ftr-mid-li">
    <a href="#" target="">TERMS OF USE</a>
    </li>
    <li class="ftr-divider">|</li>

    <li class="ftr-mid-li">
    <a href="#" target=""><span style="font-weight: 900;">PRIVACY POLICY</span></a>
    </li>
    <li class="ftr-divider">|</li>

    <li class="ftr-mid-li">
    <a href="#" target="">SITE MAP</a>
    </li>
    <li class="ftr-divider">|</li>
 -->
  <li class="ftr-last-li">&copy; 2015 RentRideReturn</li>
</ul>

</nav>

</footer>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>