<div class="other-section-container">
     <div>
     	<h3>Discovering the outdoors should no longer come with a hefty price tag</h3>
     </div>

    <div class="col-md-6">
      <img src="/img/snow2.jpg" class="dest-img">
    </div>
    <div class="col-md-6">
		<div> <h4>Who We Are</h4> </div>
		Rent Ride Return is a gear, apparel, and accessories rental company 

		utilizing technology to provide access to everything you need for your 

		next adventure at an affordable rate.<br>
		Our service makes you re-think the way you plan and experience your next adventure.

		By removing the cost barrier and making premium gear accessible to 

		everyone at an affordable price, we are building a new market to 

		outdoor sports, leisure, and adventure activities.
		<div><h4>The world is out there ready to be explored and conquered, cost should no longer be a barrier.</h4></div>
		
		We aren’t trying to re-invent the wheel; we are building our own by 

		creating a new market; opening a new door and avenue to experiencing 

		adventure. 
	</div>
	<div class="col-md-12">
		<h3>We store. We clean. You save.</h3>
	</div>
</div>