<div class="other-section-container">
     <div>
     	<h3>Admin Sign In</h3>
     </div>


    <div class="col-md-12 checkout-form-fix">
	  	<form method="post" action="/admin" class="">
			<input type="text" name="username" class="" required placeholder="username">
			<input type="password" name="password" class="" required placeholder="password">
<!-- 	        <div class="btn-group check-group" role="group" aria-label="Default button group">
	            <button type="button" class="btn btn-default single-check sign-in-check js-terms-check"><span class="js-terms-check-graphic inner-btn-graphic">☐</span><span class="js-terms-check-graphic inner-btn-graphic is-hidden">✔</span>I agree to the <strong><a href="/terms" target="_blank">Terms of Service</a></strong></button>
	        </div> -->
			<input type="submit" value="Log in" class="pay-button" />
		</form>
	</div>

</div>