<div class="admin-section-container orderSummary">
	<div class="orderSummary" id="orders">
		<p class="list-header">Sup, Ayo</p>
		<p class="list-header">Here are all your orders.</p>
		<p class="list-header">Click on the headers to sort 'em or search with box below.</p>

	  <input class="search" placeholder="Search">
		<div class="sticky-wrap">
			<table class="sticky-enabled">
				<thead>
					<tr>
						<th class="th-padding sort" data-sort="first_name">First Name</th>
						<th class="th-padding sort" data-sort="last_name">Last Name</th>
						<th class="th-padding sort" data-sort="email">Email</th>
						<th class="th-padding sort" data-sort="phone_number">Phone #</th>
						<th class="th-padding sort" data-sort="pass_id">Passenger ID</th>
						<th class="th-padding sort" data-sort="order_id">Order #</th>
						<th class="th-padding sort" data-sort="order_status">Order Status</th>
						<th class="th-padding sort" data-sort="order_date">Rental Date</th>
						<th class="th-padding sort" data-sort="delivery_method">Delivery Method</th>
						<th class="th-padding sort" data-sort="order_location">Bus Pick-up</th>
						<th class="th-padding sort" data-sort="order_items">Order Items</th>
						<th class="th-padding sort" data-sort="order_total">Order Total</th>
						<th class="th-padding sort" data-sort="checked_in">Checked In</th>
					</tr>
				</thead>
				<tbody class="list">
			{{#each orders}}
			{{this.length}}
		<tr id="{{this.orderNumber}}">
	        <td class="td-center td-padding first_name">{{this.first_name}}</td>
	        <td class="td-center td-padding last_name">{{this.last_name}}</td>
	        <td class="td-center td-padding email">{{this.email}}</td>
	        <td class="td-center td-padding phone_number">{{this.phone}}</td>
	        <td class="td-center td-padding pass_id">{{this.passengerID}}</td>	        
	        <!-- <td class="">{{this.created}}</td> -->
	        <td class="td-center order_id">{{this.orderNumber}}</td>
	        <td class="td-center order_status">{{this.orderStatus}}</td>
	        <td class="td-center order_date">{{this.orderDate}}</td>
	        <td class="td-center delivery_method">NYC Beach Bus</td>
	        <td class="td-center order_location">{{this.orderLocation}}</td>
	        <td class="td-center td-padding">
				<ul>
				{{#each this.items}}
					{{#if this.qty}}
						<li class="list-header"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> {{this.type}}: {{this.qty}}</li>
					{{/if}}
				{{/each}}
				</ul>
			</td>
			<td class="td-center td-padding list-header order_total">${{this.orderTotal}}</td>

			<td class="td-center td-padding list-header checked_in">

				<div class="checkbox">
				  <label>
				    <input id="{{this.orderNumber}}-checked-in" type="checkbox" value="">
				  </label>
				</div>
<!-- 
            	<button type="button" class="btn btn-default single-check sign-in-check js-terms-check"><span class="js-terms-check-graphic inner-btn-graphic">☐</span><span class="js-terms-check-graphic inner-btn-graphic is-hidden">✔</span></button> -->
			</td>
		</tr>
			{{/each}}
				</tbody>
			</table>
		</div> 
		<p class="list-header">xoxo, MSH</p>
		<hr class="lightline">
	</div>
</div>

<script src="/js/list.js"></script>

<script>
	
var options = {
  valueNames: [ 'first_name', 'last_name', 'email', 'phone_number', 'pass_id', 'order_id',
  				'order_status', 'order_date', 'delivery_method', 'order_location', 'order_items', 'order_total', 'checked_in']
};

var orderList = new List('orders', options);

</script>