
  <section class="form-section-container">
     <div class="col-md-4">
     <form method="post" action="/placeOrder" class="order-form">
          <div class="form-title-text">Get Your Gear On</div></span>
          <hr class="lightline">
          <ul class="listmenu calendar-input">
          <li>
            <div class="input-group date" data-date-format="mm-dd-yyyy">
                <input class="form-control" required placeholder="Booking Date" type="text" name="date" id="datepicker">
                <!-- <span><i class="glyphicon glyphicon-calendar"></i></span> -->
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> -->
            </div>
            <!-- <input name="last_name" placeholder="Last Name"> -->
          </li>
          </ul>
            <ul class="listmenu listheaders clearfix">
              <li><span class="item-width">Pick-up Location</span></li>
            </ul>

            <ul class="listmenu">
            <li>
              <select name="location" required class="rental-location">
              <option value="Far Rockaway">Far Rockaway</option>
              <option value="Riis Park / Fort Tilden">Riis Park / Fort Tilden</option>
              <option value="Jones Beach">Jones Beach</option>
              <option value="Robert Moses / Fire Island">Robert Moses / Fire Island</option>
              </select>
            </li>
            </ul>

            <ul class="listmenu listheaders clearfix">
              <li><span class="item-width">Rental Item</span></li>
              <li><span class="price-width">Price</span></li>
              <li><span class="qty-width">Quantity <!-- <i class="fa fa-caret-down"></i> --></span></li>
            </ul>
            <ul class="listmenu">
            <li>
              <p class="rental-item">Basic half body chair</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$8</p>
            </li>
              <li>
                <select name="basicChair_qty" class="rental-qty js-rental-qty" onChange="">
              <option value="0" selected="">0</option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              </select>
              </li>
            </ul>

            <ul class="listmenu">
            <li>
              <p class="rental-item">Deluxe full body chair</p>
              </li>
            <li>
              <p class="js-rental-price rental-price" price=13.00 >$13</p>
            </li>
              <li>
                <select name="deluxeChair_qty" class="rental-qty js-rental-qty">
              <option value="0" selected="">0</option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              </select>
              </li>
            </ul>

            <ul class="listmenu">
            <li>
              <p class="rental-item">Basic chair & umbrella</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$15</p>
            </li>
            <li>
                <select name="basicCombo_qty" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></li>
            </ul>

            <ul class="listmenu">
            <li>
              <p class="rental-item">Deluxe chair & umbrella</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$18</p>
            </li>
            <li>
                <select name="deluxeCombo_qty" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></li>
            </ul>

            <ul class="listmenu">
            <li>
              <p class="rental-item">Umbrella Only</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$10</p>
            </li>
            <li>
                <select name="umbrella_qty" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></li>
            </ul>
              <!-- <p id="subTotal" class="pay-button">ORDER SUBTOTAL: $0.00</p>            -->
              <input type="submit" value="RENT NOW" class="button pay-button">
        </form>


              </div>
      <div class="col-md-8 panel-beach">
      </div>