
  <section class="form-section-container">
     <div class="col-md-5">
       <div class="order-form order-form-camping">
            <p class="form-title-text">Coming Soon</p>
            <hr class="lightline">
        </div>
      </div>

      <div class="col-md-7 panel-camping">
      </div>

  </section>   

  <section class="section-container dest-prev">
 
    <div class="col-md-4">
      <div class="prev-dest-title">The Ultimate <br> VIP Beach Experience</div>
      <div class="prev-dest-text">Portable/lightweight chair & umbrella rentals starting at $8</div>
    <a class="dest-img-wrapper" href="/beach">
      <img src="/img/beach_chair_main.jpg" class="dest-img">
    </a>
    </div>
    <div class="col-md-4">
      <div class="prev-dest-title">Remove the cost barrier and gear up the right way</div>
      <div class="prev-dest-text">At over 90% off retail, skiing just got more affordable</div>
    <a class="dest-img-wrapper" href="/winter">
      <img src="/img/skis1.jpg" class="dest-img">
    </a>
    </div>
     <div class="col-md-4">
      <div class="prev-dest-title">Get off the ground and elevate your outdoor experience</div>
      <div class="prev-dest-text">Go ahead and grab a seat</div>
    <a class="dest-img-wrapper" href="/beach">
      <img src="/img/concert.jpg" class="dest-img">
    </a>
    </div>

  </section>

  <section class="section-container" id="how-it-works">
    <!-- <h3>How It Works</h3>     -->
    <div class="col-md-4">
      <h2 class="box-title"><b>1. RENT</b></h2>
      <img class="boximg" src="img/howitworks_1.jpg"/>
      <div class="box-text">Select the items you need for your trip</div></span>
    </div>
    <div class="col-md-4">
      <h2 class="box-title red-title"><b>2. RIDE</b></h2>
      <img class="boximg" src="img/howitworks_2.jpg">
      <div class="box-text">Ride out in your styling gear</div></span>
    </div>
    <div class="col-md-4">
      <h2 class="box-title"><b>3. RETURN</b></h2>  
      <img class="boximg" src="img/howitworks_3.png">
      <div class="box-text">Return your item(s) to the nearest facility or truck</div></span>
    </div>
  </section> 


</div>