
<div id="main">

<div class="orderSummary">
	ORDER SUMMARY
	*************
	<div>
	Items Ordered:
	<ul>

	{{#each order.items}}
	<li>
	Item: {{this.type}}
	Qty: {{this.qty}}
	</li>
	{{/each}}
	</ul>		
	</div>

	Order Total: ${{order.total}}
	
</div>


	<form action="https://www.usaepay.com/gate.php " method="POST">
	<input type="hidden" name="UMkey" value="RF04Bb4732Ra4P18yEuDit7wmb2Ysmu9">
	<input type="hidden" name="UMredirApproved"
	value="http://localhost:5000/paymentConfirm">
	<input type="hidden" name="UMinvoice" value={{order.orderNumber}}>
	<input type="hidden" name="UMamount" value={{order.total}}>

	Email address: <input type="text" name="UMemail"><br>
	Phone number: <input type="text" name="UMphone"><br>

	First Name: <input type="text" name="UMname"><br>
	Last Name: <input type="text" name="UMname"><br>

	Address: <input type="text" name="UMstreet"><br>
	City: <input type="text" name="city"><br>
	State: <input type="text" name="state"><br>
	Zip: <input type="text" name="UMzip"><br>
	<br>
	<br>
	Credit Card Info:<br>
	Card Type: <select name=cardtype>
	<option>Visa
	<option>Mastercard
	<option>Amex
	<option>Discover
	</select><br>
	Card Number: <input type="text" name="UMcard"><br>
	Expiration: <input type="text" placeholder="MMYY" name="UMexpir"><br>
	Name On Card: <input type="text" name="UMname"><br>
	<br>
	<br>
	<input type="submit" value="Place Order">
	</form>
</div>

<script src="js/validate.js" language="javascript"></script>