 <section class="form-section-container">
	<div class="col-md-6 checkout-form-fix">
		<form action="https://www.usaepay.com/gate.php " method="POST" class="checkout-form">
			<input type="hidden" name="UMkey" value="RF04Bb4732Ra4P18yEuDit7wmb2Ysmu9">
			<input type="hidden" name="UMredirApproved" value="http://rentride.herokuapp.com/paymentConfirm">
			<input type="hidden" name="UMinvoice" value={{order.orderNumber}}>
			<input type="hidden" name="UMamount" value={{total}}>
			<label>Cardholder Name<input type="text" name="UMname" class="form-control" required></label>
			<label>Card Number <input type="text" name="UMcard" class="form-control" required></label>
			<label>Expiration <input type="text" placeholder="MMYY" name="UMexpir" class="form-control" required></label>
			<label>Secrity Code <input type="text" placeholder="MMYY" name="UMcode" class="form-control" required></label>

			<label>Address <input type="text" name="UMstreet" class="form-control" required></label>
			<label>City <input type="text" name="city" class="form-control" required></label>
			<label>State <input type="text" name="state" class="form-control" required></label>
			<label>Zip <input type="text" name="UMzip" class="form-control" required></label>
			<p id="subTotal" class="subTotal-button">
			ORDER SUBTOTAL: ${{orderTotal}}<br>
			TAX: ${{taxAmt}}<br>
			DELIVERY: FREE<br>
			-------------------------<br>
			ORDER TOTAL: ${{total}}
			</p>
	        <div class="btn-group check-group" role="group" aria-label="Default button group">
	            <button type="button" class="btn btn-default single-check sign-in-check js-terms-check"><span class="js-terms-check-graphic inner-btn-graphic">☐</span><span class="js-terms-check-graphic inner-btn-graphic is-hidden">✔</span>I agree to the <strong><a href="/terms" target="_blank">Terms of Service</a></strong></button>
	        </div>

	        <div>
				<input type="submit" class="pay-button" value="Place Order">
			</div>
		</form>
	</div>

	<div class="col-md-6 orderSummary">
		<p class="list-header">ORDER SUMMARY</p>
		<div>
			<ul>
				<li class="list-header">Rental Date:  {{order.orderDate}}</li>
				<li class="list-header">Delivery Method:  NYC Beach Bus</li>
				<li class="list-header">Delivery Location:  {{order.orderLocation}}</li>
				<hr class="lightline">

			{{#each order.items}}
			{{#if this.qty}}
			<li>
				<ul>
					<li class="list-header">Item:  {{this.type}}</li>
					<li class="list-header">Quantity:  {{this.qty}}</li>
					<li class="list-header">Price:  ${{this.price}}</li>
					{{#if this.img}}
					<li><img class="order-img" src={{this.img}}></li>
					{{/if}}
				</ul>
			</li>
			<hr class="lightline">
			{{/if}}
			{{/each}}
			</ul>	
		</div> 
	</div>
</section>

<script src="js/validate.js" language="javascript"></script>