  <section class="section-container">
     <div class="col-md-12">
     FREQUENTLY ASKED QUESTIONS

<div class="row-fluid faq" id="faq">
<div class="span10 offset1">
<h3>FAQ</h3>
<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
Life Primer talks a lot about doing, but this site doesn't seem to actually DO anything yet. Is that fair to say?
</a>
</div>
<div id="collapse1" class="accordion-body collapse">
<div class="accordion-inner">
It is quite fair. The first thing on my real Life Primer list is to get LifePrimer.com up and running for prospective users.
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
Do you have an approximate launch date?
</a>
</div>
<div id="collapse2" class="accordion-body collapse">
<div class="accordion-inner">
Yes. The approximate approximation is some time in the next five years. Patience is a virture. Thanks for waiting.
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
How can I ever change things that I feel for you? If I could, maybe I'd give you my world. How can I when you won't take it from me?
</a>
</div>
<div id="collapse3" class="accordion-body collapse">
<div class="accordion-inner">
These questions are impossible to answer. They belong in a Fleetwood Mac song, not an FAQ section. Sorry for the distraction.
</div>
</div>
</div>
</div>
</div>
</div>



     </div>
  </section>