  <section class="other-section-container">

	<h3>FREQUENTLY ASKED QUESTIONS</h3>
		<div class="accordion" id="accordion2">

			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
				How long is a rental?</a></h4>
				</div>
				<div id="collapse1" class="accordion-body collapse">
				<div class=" panel-body accordion-inner">
				<p>Rentals  are for 1, 4, and 6 days. Our most common rental is for single day usage. Perfect to test out new gear on weekend day trip to the slopes or for planning a impromptu trip to rediscover your love of the slopes.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
				What if I accidentally stain, damage or lost the item?
				</a></h4>
				</div>
				<div id="collapse2" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>We understand that some wear and tear may be inevitable. The $5 insurance fee covers minor stains and damage, but significant damage, missing parts, ripped items and theft is not covered under insurance.
				</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
				How are the items cleaned?
				</a></h4>
				</div>
				<div id="collapse3" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>All items are cleaned according to manufacturer specifications.  Ski accessories such as goggles are steam cleaned and sanitized.
				</p></div>
				</div>
			</div>

			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
				When should I make a reservation?</a></h4>
				</div>
				<div id="collapse4" class="accordion-body collapse">
				<div class=" panel-body accordion-inner">
				<p>You can book a reservation up to 1 month in advance. We also offer same-day delivery to most of Manhattan and certain parts of Brooklyn.  Delivery outside of these areas will be next-day provided that orders are placed before 1PM EST of the day you need your order to arrive.  Same day rentals can be picked up as early as 6AM EST the day of your excursions.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
				What are my delivery options?
				</a></h4>
				</div>
				<div id="collapse5" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Delivery to your home or office or if you are an NYC Snow Bus & NYC Beach Bus rider, delivery to the bus on the day of your trip.
				</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
				How much does shipping cost?
				</a></h4>
				</div>
				<div id="collapse6" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Standard - $9.95<br>
					Manhattan same day/next day - $15<br>
					Non-Manhattan next day - $15<br>
					Outside NYC  next day - $25<br>
				</p></div>
				</div>
			</div>		


			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
				I am taking the NYC Snow Bus / NYC Beach Bus. Can I have my item delivered to me at the bus pick-up location?</a></h4>
				</div>
				<div id="collapse7" class="accordion-body collapse">
				<div class=" panel-body accordion-inner">
				<p>Yes, you can. Just select deliver to the  NYC Snow Bus or NYC Beach Bus pickup location option and your item will be delivered to you the morning of your trip.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
				What time will my delivery arrive?
				</a></h4>
				</div>
				<div id="collapse8" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Deliveries are made between 8am and 8pm during weekdays and Saturdays. We provide tracking information so you can see when your package is out for delivery. All Manhattan deliveries (below 125th Street)  & certain parts of Brooklyn are made by courier. If you would like to specify a delivery time window, please email us with your order number and we will do our best. 
				</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
				Can you deliver to hotels?
				</a></h4>
				</div>
				<div id="collapse9" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Sure! If you're shipping to a hotel, please put the hotel name in the company field and the reservation guest in the attention field.  If you are staying at a resort, please make sure your resort hotel has an individual address and does not use one address for the whole resort. 
				</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
				Is a signature required for delivery?</a></h4>
				</div>
				<div id="collapse10" class="accordion-body collapse">
				<div class=" panel-body accordion-inner">
				<p>No, signature required unless items are being delivered by messenger service.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
				Do you ship internationally?
				</a></h4>
				</div>
				<div id="collapse11" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>No, we are unfortunately only shipping within the US right now.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
				Do you ship to P.O. boxes?
				</a></h4>
				</div>
				<div id="collapse12" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>We don’t, please enter a valid residence, company or hotel address for delivery.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
				What if my rental ends on a Sunday or holiday?</a></h4>
				</div>
				<div id="collapse13" class="accordion-body collapse">
				<div class=" panel-body accordion-inner">
				<p>Although USPS is closed Sundays and holidays, you can still take your return envelope to a USPS drop box or you can drop it off at our office.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
				How long does it take to process my return?
				</a></h4>
				</div>
				<div id="collapse14" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Your should receive a confirmation email of your return within 24hrs of our receival of your items.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
				What if I return my order late?
				</a></h4>
				</div>
				<div id="collapse15" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>A late return is subject to fees at the rate of $40 per day for every day that your order is late. </p></div>
				</div>
			</div>


			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse16">
				Can I keep or purchase an item?
				</a></h4>
				</div>
				<div id="collapse16" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Unfortunately not right now. We will be doing annual sales and you can purchase items then. </p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse17">
				What if I get my items and they don't fit?
				</a></h4>
				</div>
				<div id="collapse17" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>First, if you're concerned about fit, we strongly recommend you go a size up. Better to cinch things down than not be able to close them. If you get your items and they absolutely do not fit, immediately call us at (917)-524-2421 and we will see what we can do.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse18">
				What if my package doesn't arrive?</a></h4>
				</div>
				<div id="collapse18" class="accordion-body collapse">
				<div class=" panel-body accordion-inner">
				<p>We will provide you with a tracking number to track your package. However, there might be some unexpected delays so give us a call immediately at (917)-524-2421.</p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse19">
				I lost or can't use my prepaid return envelope. What do I do?</a>
				</div>
				<div id="collapse19" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>No problem. Send us an email at info@rentridereturn.com immediately to let us know. We will email you a mail label. Simply print, stuff in an envelope from your local post office, and drop it in the mail box. </p></div>
				</div>
			</div>
			<div class="panel panel-default accordion-group">
				<div class="panel-heading accordion-heading">
				<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse20">
				I want to rent items for other activities, do you plan on adding more?
				</a></h4>
				</div>
				<div id="collapse20" class="accordion-body collapse">
				<div class="panel-body accordion-inner">
				<p>Absolutely. Sign up for our mailing list and we will let you know when we add more rentals to our site. </p></div>
				</div>
			</div>



		</div> <!--end accordian-->
</section>