
  <section class="form-section-container">
     <div class="order-form-wrap col-md-3" style="padding-left: 0px; padding-right: 0px;">
     <form method="post" action="/placeOrder" class="order-form">
          <div class="form-title-text">Get Your Gear On</div></span>
          <hr class="lightline">
          <ul class="listmenu calendar-input">
          <li>
            <div class="input-group date datepicker-wrap" data-date-format="mm-dd-yyyy">
                <input class="form-control" required placeholder="Booking Date" type="text" name="date" id="datepicker">
                <!-- <span><i class="glyphicon glyphicon-calendar"></i></span> -->
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> -->
<!--                 <span class="hover-tips js-hover-tips glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Available weekends and holidays July 3 through Labor Day"></span> -->
            </div>

            <!-- <input name="last_name" placeholder="Last Name"> -->
          </li>
          </ul>
            <ul class="listmenu listheaders clearfix">
              <li><span class="item-width">Pick-up Location</span></li>
              <li>
                <span class="hover-tips js-hover-tips glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Rentals are currently for NYC Beach Bus Riders only"></span>
              </li>
            </ul>

            <ul class="listmenu">
            <li>
              <select name="location" required class="rental-location js-rental-location">
              <option value="NYC Beach Bus - Williamsburg" selected="">NYC Beach Bus-Williamsburg</option>
              <option value="NYC Beach Bus - Barclay's Center">NYC Beach Bus-Barclay's Center</option>
              </select>
            </li>
            </ul>

            <ul class="listmenu listheaders clearfix">
              <li><span class="item-width">Rental Item</span></li>
              <li><span class="price-width">Price</span></li>
              <li><span class="qty-width">Quantity <!-- <i class="fa fa-caret-down"></i> --></span></li>
            </ul>
            <ul class="listmenu clearfix">
            <li>
              <p class="rental-item">Classic half body chair</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$8</p>
            </li>
              <li>
                <select name="classicChair_qty" id="B0" class="rental-qty js-rental-qty">
              <option value="0" selected="">0</option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              </select>
              </li>
            </ul>

            <ul class="listmenu clearfix">
            <li>
              <p class="rental-item">Deluxe full body chair</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$14</p>
            </li>
              <li>
                <select name="deluxeChair_qty" id="B1" class="rental-qty js-rental-qty">
              <option value="0" selected="">0</option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              </select>
              </li>
            </ul>

            <ul class="listmenu clearfix">
            <li>
              <p class="rental-item">Classic chair & umbrella</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$15</p>
            </li>
            <li>
                <select name="classicCombo_qty" id="B2" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></li>
            </ul>

            <ul class="listmenu clearfix">
            <li>
              <p class="rental-item">Deluxe chair & umbrella</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$20</p>
            </li>
            <li>
                <select name="deluxeCombo_qty" id="B3" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></li>
            </ul>

            <ul class="listmenu clearfix">
            <li>
              <p class="rental-item">Umbrella Only</p>
              </li>
            <li>
              <p class="js-rental-price rental-price">$10</p>
            </li>
            <li>
                <select name="umbrella_qty" id="B4" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></li>
            </ul>
              <!-- <p id="subTotal" class="pay-button">ORDER SUBTOTAL: $0.00</p>            -->
              <input type="submit" value="RENT NOW" class="button pay-button">
        </form>


              </div>
      <div class="col-md-9">
        <div id="beachCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#beachCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#beachCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
              <div class="active item">
                  <div class="my-carousel-caption"><h2>Welcome to your new elevated beach experience</h2></div>

                <div class="carousel-img-wrap">
                  <img class="carousel-img" src="/img/beach_chair_main.jpg">
              </div>
            </div>
            <div class="item">
                <div class="my-carousel-caption"><h2>Lightweight chair and umbrella rentals starting at $8</h2></div>
              <div class="carousel-img-wrap">
                <img class="carousel-img" src="/img/basic_chair.jpg">
              </div>

            </div>
          </div>
          <a class="carousel-control left" href="#beachCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control right" href="#beachCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

  </section>   

  <section class="section-container dest-prev">
 
    <div class="col-md-4">
      <div class="prev-dest-title">Remove the cost barrier and gear up the right way</div>
      <div class="prev-dest-text">At over 90% off retail, skiing just got more affordable</div>
    <a class="dest-img-wrapper" href="/winter">
      <img src="/img/skis1.jpg" class="dest-img">
    </a>
    </div>
     <div class="col-md-4">
      <div class="prev-dest-title">Get off the ground and elevate your outdoor experience</div>
      <div class="prev-dest-text">Go ahead and grab a seat</div>
    <a class="dest-img-wrapper" href="/beach">
      <img src="/img/concert.jpg" class="dest-img">
    </a>
    </div>
    <div class="col-md-4">
      <div class="prev-dest-title">Go ahead.<br>Take back your weekends</div>
      <div class="prev-dest-text">Tents and sleeping bag rentals starting at 90% off</div>
    <a class="dest-img-wrapper" href="/camping">
      <img src="/img/camping2.jpg" class="dest-img">
    </a>
    </div>

  </section>
