
  <section class="form-section-container">
     <div class="col-md-5">
     <form method="post" action="/placeOrder" class="trueblue1 form-horizontal">
          <div class="form-title-text">Get Your Gear On</div></span>
          <hr class="lightline">
          <ul class="listmenu calendar-input">
          <li>
            <div class="input-group date" data-date-format="mm-dd-yyyy">
                <input class="form-control" style="border: 1px solid #ccc" placeholder="Booking Date" type="text" readonly="" name="date" id="datepicker">
                <!-- <span><i class="glyphicon glyphicon-calendar"></i></span> -->
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> -->
            </div>
            <!-- <input name="last_name" placeholder="Last Name"> -->
            </li>
          </ul>
            <ul class="listmenu listheaders">
              <li><span>Pick-up Location</i></span></li>
            </ul>

            <ul class="listmenu calendar-input">
            <li>
            <label for="card">
              <select name="location" class="rental-location">
              <option value="Williamsburg">Far Rockaway</option>
              <option value="Williamsburg">Riis Park / Fort Tilden</option>
              <option value="Williamsburg">Jones Beach</option>
              <option value="Williamsburg">Robert Moses / Fire Island</option>
              </select></label>
            </li>
            </ul>

            <ul class="listmenu listheaders">
              <li><span>Rental Item</span></li>
              <li><span>Price</span></li>
              <li><span>Quantity <!-- <i class="fa fa-caret-down"></i> --></span></li>
            </ul>
            <ul class="listmenu">
            <li>
              <p class="rental-item">Beach Chair</p>
              </li>
            <li>
              <p class="js-rental-price rental-item">$10</p>
            </li>
              <li><label for="card">
                <select name="chair_qty" class="rental-qty js-rental-qty" onChange="">
              <option value="0" selected="">0</option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              </select></label>
              </li>
            </ul>

            <ul class="listmenu">
            <li>
              <p class="rental-item">Fancy Chair</p>
              </li>
            <li>
              <p class="js-rental-price rental-item" price=13.00 >$13</p>
            </li>
              <li><label for="card">
                <select name="fancyChair_qty" class="rental-qty js-rental-qty">
              <option value="0" selected="">0</option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              </select></label>
              </li>
            </ul>

            <ul class="listmenu">
            <li>
              <p class="rental-item">Chair & Umbrella</p>
              </li>
            <li>
              <p class="js-rental-price rental-item">$15</p>
            </li>
            <li><label for="card">
                <select name="umbrella_qty" class="rental-qty js-rental-qty">
            <option value="0" selected="">0</option>
            <option value="1" > 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            </select></label></li>
            </ul>
              <p></p>
              <p id="subTotal">ORDER SUBTOTAL: $0.00</p>           
              <input type="submit" value="Contine to Payment" class="button" id="paymentbtn">
        </form>


              </div>
      <div class="col-md-7 panel-beach">
      </div>

  </section>   

  <section class="section-container dest-prev">
 
    <div class="col-md-4">
      <div class="prev-dest-title">The Ultimate VIP Beach Experience</div>
      <div class="prev-dest-text">Portable/lightweight chair and umbrella rentals starting at $8</div></span>
    <a class="dest-img-wrapper" href="/">
      <img src="/img/chair.jpg" class="dest-img">
    </a>
    </div>
    <div class="col-md-4">
      <div class="prev-dest-title">A day on the slopes just got more affordable</div>
      <div class="prev-dest-text">At over 90% off rental, spend smart and save more</div></span>
    <a class="dest-img-wrapper" href="/winter">
      <img src="/img/snow1.jpg" class="dest-img">
    </a>
    </div>
    <div class="col-md-4">
      <div class="prev-dest-title">Go ahead. Take back your weekends</div>
      <div class="prev-dest-text">Tents and sleeping bag rentals starting at 90% off</div></span>
    <a class="dest-img-wrapper" href="/#">
      <img src="/img/camping2.jpg" class="dest-img">
    </a>
    </div>

  </section>

</div>