
	<div class="col-md-5 orderSummary">
		<p class="list-header">Thanks for renting!</p>
		<p class="list-header">Here's your order summary.</p>
		<div>
			<ul>
        <li class="list-header">Order Number:  {{order.orderNumber}}</li>
        <li class="list-header">Rental Date:  {{order.orderDate}}</li>
        <li class="list-header">Delivery Method:  NYC Beach Bus</li>
        <li class="list-header">Delivery Location:  {{order.orderLocation}}</li>
        <hr class="lightline">

			{{#each order.items}}
			{{#if this.qty}}
			<li>
				<ul>
					<li class="list-header">Item:  {{this.type}}</li>
					<li class="list-header">Quantity:  {{this.qty}}</li>
				</ul>
			</li>
			{{/if}}
			{{/each}}
					<li class="list-header">Order Total:  ${{total}}</li>
			</ul>	
		</div> 
		<p class="list-header">Congrats on being a #RentRider!</p>
		<hr class="lightline">
	</div>

  <section class="section-container dest-prev">
 
    <div class="col-md-4">
      <div class="prev-dest-title">Remove the cost barrier and gear up the right way</div>
      <div class="prev-dest-text">At over 90% off retail, skiing just got more affordable</div></span>
    <a class="dest-img-wrapper" href="/winter">
      <img src="/img/skis1.jpg" class="dest-img">
    </a>
    </div>
     <div class="col-md-4">
      <div class="prev-dest-title">Get off the ground and elevate your outdoor experience</div>
      <div class="prev-dest-text">Go ahead and grab a seat</div></span>
    <a class="dest-img-wrapper" href="/">
      <img src="/img/concert.jpg" class="dest-img">
    </a>
    </div>
    <div class="col-md-4">
      <div class="prev-dest-title">Go ahead.<br>Take back your weekends</div>
      <div class="prev-dest-text">Tents and sleeping bag rentals starting at 90% off</div></span>
    <a class="dest-img-wrapper" href="/#">
      <img src="/img/camping2.jpg" class="dest-img">
    </a>
    </div>

  </section>	