
  <section class="form-section-container">
     <div class="main-container">

        <p class="title-text">Please pardon our appearance while we get our site ready for the season</p>
        <hr class="lightline">
        <p class="sub-title-text call-out-text">FOR ALL YOUR RENTAL NEEDS</p>
        <p class="sub-title-text">visit us <a class="bold-link" href="https://www.google.com/maps/place/514+Atlantic+Ave,+Brooklyn,+NY+11217/@40.68524,-73.9833587,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25bad669e3d83:0xf0a53b36571282d1" target="_blank">in store</a> at our Brooklyn location
        <p class="sub-title-text">514 Atlantic Avenue</p>
        <p class="sub-title-text">Brooklyn, NY</p>
        <p class="sub-title-text">347.721.3807 | <a class="bold-link" href="mailto:info@rentridereturn.com">info@rentridereturn.com</a></p>
        </p>
      </div>
      <div class="sub-container">
          <!-- <h2 class="item-title">In-store Pricing</h2> -->
        <div class="item-container col-md-3">
              <div>
                  <h3>Jackets</h3>
                  <ul>
                    <li><span></span>$25 / day</li>
                    <li>$45 / 3 days </li>
                    <li>$70 / 7 days</li>
                  </ul>
              </div>
        </div>

        <div class="item-container col-md-3">
                  <div class="project-descr">
                      <h3>Pants</h3>
                      <ul>
                        <li>$25 / day</li>
                        <li>$45 / 3 days</li> 
                        <li>$70 / 7 days</li>
                      </ul>
                  </div>
        </div>

        <div class="item-container col-md-3">
<!--                   <div class="dest-img-wrapper">
                      <img class="js-img-filters beginner-project" src="/img/snow1.jpg">
                  </div> -->
                  <div class="project-descr">
                      <h3>Gloves</h3>
                      <ul>
                        <li>$15 / day</li>
                        <li>$30 / 3 days</li>
                        <li></li>
                      </ul>
                  </div>
        </div>

        <div class="item-container col-md-3">
              <div>
<!--                   <div class="dest-img-wrapper">
                      <img class="js-img-filters beginner-project" src="/img/snow1.jpg">
                  </div> -->
                  <div class="project-descr">
                      <h3>Googles</h3>
                      <ul>
                        <li>$15 / day</li>
                        <li>$30 / 3 days</li>
                      </ul>
                  </div>
              </div>
        </div>

      </div>
  </section>   

</div>